<div *ngIf="!apartments">
  No apartments found!
</div>
<div id="img-container" *ngIf="apartments">
  <main class="wrapper">

    <div class="search-wraper">
      <div class="search" >
        <input type="text" class="search-input" name="description" [(ngModel)]="description" (ngModelChange)="Search()"
          placeholder="Search by description here">
        <!-- <input type="submit" class="search-submit" value="Search"> -->
      </div>
    </div>
    <div class="error" *ngIf="errorLoadingUsers">Error loading users! Check your connection!</div>
    <div class="apartments-content" *ngFor="let apartment of apartments">

      <div class="apartment">

        <img class="img" src="{{apartment.imageUrl}}">
        <p class="description">{{apartment.description}}</p>
        <ul class="items">
          <li><span>Location: </span>{{apartment.location}}</li>
          <li><span>Price: </span>{{apartment.price}}$</li>
        </ul>

        <button routerLink="{{apartment._id}}" class="btn">Details</button>
      </div>

    </div>
  </main>
</div>
