<div class="img-container">
  <main>
    <div class="apartments-content">
      <div class="aparments-wraper">

        <div class="apartment">

          <img class="img" src="../../../assets/img1.jpg">
          <p class="description">Opisanie...</p>
          <ul class="items">
            <li><span>Location: </span>Sofia</li>
            <li><span>Price: </span>50 000</li>
          </ul>

          <!-- if rented == false -->
          <button class="btn">Edit</button>

          <!-- if for rent && not owener -->
          <button class="btn">Rent it</button>

          <!-- if for sale && not owener -->
          <button class="btn">Buy it</button>

          <!-- if rented == true  -->
          <p>This apartment is already rented!</p>

          <!-- if bоught == true -->
          <p>This apartment is already bought!</p>
        </div>

        <div class="apartment">

          <img class="img" src="../../../assets/img2.jpg">
          <p class="description">Opisanie...</p>
          <ul class="items">
            <li><span>Location: </span>Sofia</li>
            <li><span>Price: </span>50 000</li>
          </ul>

          <!-- if rented == false -->
          <button class="btn">Edit</button>

          <!-- if for rent && not owener -->
          <button class="btn">Rent it</button>

          <!-- if for sale && not owener -->
          <button class="btn">Buy it</button>

          <!-- if rented == true  -->
          <p>This apartment is already rented!</p>

          <!-- if bоught == true -->
          <p>This apartment is already bought!</p>
        </div>

        <div class="apartment">

          <img class="img" src="../../../assets/logo2.jpg">
          <p class="description">Opisanie...</p>
          <ul class="items">
            <li><span>Location: </span>Sofia</li>
            <li><span>Price: </span>50 000</li>
          </ul>

          <!-- if rented == false -->
          <button class="btn">Edit</button>

          <!-- if for rent && not owener -->
          <button class="btn">Rent it</button>

          <!-- if for sale && not owener -->
          <button class="btn">Buy it</button>

          <!-- if rented == true  -->
          <p>This apartment is already rented!</p>

          <!-- if bоught == true -->
          <p>This apartment is already bought!</p>
        </div>


      </div>
    </div>
  </main>
</div>
