<div class="img-container" *ngIf="apartments">
  <main>
    <div class="apartments-content" *ngFor="let apartment of apartments">
      <div class="aparments-wraper">

        <div class="apartment">

          <img class="img" src="{{apartment.imageUrl}}">
          <p class="description">{{apartment.description}}</p>
          <ul class="items">
            <li><span>Location: </span>{{apartment.location}}</li>
            <li><span>Price: </span>{{apartment.price}}</li>
          </ul>

          <button routerLink="{{apartment._id}}" class="btn">Details</button>
        </div>
      </div>
    </div>
  </main>
</div>
