footer {
  background: rgb(255, 255, 255);
  width: 100%;
  box-shadow: 0 0 3px;
  height: 90px;
}

/* footer {
  bottom: 0;
width: 100%;
background-color: #2b3636;
position: absolute;
color: #bac1c7;
padding: 39px 0 42px;
}  PROBVAI!!!!!*/

footer ul li {
  border-bottom: ridge;
  list-style: none;
  padding-bottom: 5px;
  padding-right: 20px;
  margin-left: 15px;
  position: relative;
  display: inline;
}

footer p {
  padding-left: 20px;
  padding-top: 20px;
  font-size: medium;
}

footer span {
  font-size: 1.5em;
}

li {
  cursor: pointer;
}
