footer {
  background: rgb(255, 255, 255);
  margin-top: 1em;
  position: absolute;
  bottom: 10;
  width: 100%;
  box-shadow: 0 0 3px;
  top: 100%;
}

footer ul li {
  border-bottom: ridge;
  list-style: none;
  padding-bottom: 5px;
  padding-right: 20px;
  margin-left: 15px;
  position: relative;
  display: inline;
}

footer p {
  padding-left: 20px;
  padding-top: 20px;
  font-size: medium;
}

footer span {
  font-size: 1.5em;
}

li {
  cursor: pointer;
}
