<div class="registerForm">
  <h2>Register Form</h2>
  <form class="form">
    <fieldset class="fieldset">
      <label for="username"><span>Username: </span></label>
      <input class="field" type="text" placeholder="John">

      <label for="email"><span>Email: </span></label>
      <input class="field" type="text" placeholder="john.doe@gmail.com">

      <label for="password"><span>Password: </span></label>
      <input class="field" type="password" placeholder="******">

      <label for="rePass"><span>Repeat Password: </span></label>
      <input class="field" type="password" placeholder="******">

      <button class="btn">Register</button>

      <p class="text-center">
        Already have an account?
        <a routerLink="/login">Login</a>
      </p>
    </fieldset>
  </form>
</div>
