.mainbox {
  margin: auto;
  height: 550px;
  width: 550px;
  position: relative;
}

.err {
  color: white;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 11rem;
  position: absolute;
  left: 20%;
  top: 8%;
  text-shadow: -7px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

.err1 {
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11rem;
    position: absolute;
    left: 44%;
    top: 8%;
   text-shadow: -7px 0 #4CAF50, 0 1px #4CAF50, 1px 0 #4CAF50, 0 -1px #4CAF50;

  }

.far {
  position: absolute;
  font-size: 8.5rem;
  left: 42%;
  top: 15%;
  color: #95c2de;
}

.err2 {
  color: white;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 11rem;
  position: absolute;
  left: 68%;
  top: 8%;
  text-shadow: -7px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

.msg {
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.6rem;
  position: absolute;
  left: 16%;
  top: 45%;
  width: 75%;
}

a {
  text-decoration: none;
  color: #4CAF50;
}

a:hover {
  text-decoration: underline;
}
