/* You can add global styles to this file, and also import other style files */

html {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  justify-content: center;
}

body {
  background-color: rgb(243, 243, 225);
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  text-align: center;
  justify-content: center;
}

.hrefBtn {
  padding: 4px 6px;
  cursor: pointer;
  margin: auto;
  border: 0;
  border-bottom-color: currentcolor;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-bottom: 2px solid #999;
  background-color: #2AC831;
  transition: .3s ease;
  text-decoration: none;
  color: white;
  border-radius: 3px;
}

.error {
  color: red;
}

div.error {
  animation: fadeOut 4s forwards;
  animation-delay: 3s;
  position: fixed;
  right: 0;
  min-width: 350px;
  margin-right: 20px;
  display: block;
  z-index: 11111;
}

div.error p {
  background: rgba(204, 55, 55, 0.726);
  color: white;
  font-size: 20px;
  padding: 5px 25px;
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
  position: relative;
  margin-bottom: 5px;
  overflow: hidden;
}


@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}