<header>
  <div class="navbar-wrap">
    <div>
      <ul id="nav">
        <li><a type="button" routerLink="/home">Home</a></li>
        <li><a type="button" routerLink="/apartments">Apartments</a></li>
        <li><a type="button" routerLink="/create">Create</a></li>
      </ul>

      <ul id="authBtn">
        <li><a type="button" routerLink="/login">Login</a></li>
        <li><a type="button" routerLink="/register">Register</a></li>
      </ul>

      <ul id="authBtn">
        <li class="logout"><a type="button">Logout</a></li>
        <li><a type="button" routerLink="/profile">Pishi's profile</a></li>
      </ul>
    </div>

  </div>
</header>
