<div class="container">
  <div class="create-border">
    <form>
      <div class="create-title">
        <h1>New Offer</h1>
      </div>
      <fieldset class="fieldset">
        <label for="description"><span>Description: </span></label>
        <input class="field" type="text" placeholder="Two Rooms">

        <label for="location"><span>Location: </span></label>
        <input class="field" type="text" placeholder="Sofia">

        <label for="price"><span>Price: </span></label>
        <input class="field" type="text" placeholder="100 000$">

        <label for="imageUrl"><span>ImageUrl: </span></label>
        <input class="field" type="text" placeholder="ImageUrl">

        <label for="forRent"><span>Rent: </span></label>
        <input class="checkbox" type="checkbox">

        <label for="forSale"><span>Sale: </span></label>
        <input class="checkbox" type="checkbox">

        <button class="btn">Create</button>
      </fieldset>
    </form>

  </div>
</div>
