<div class="container">
  <div class="create-border">
    <form #form="ngForm" ngModel (ngSubmit)="createApartment(form)" >
      <div class="create-title">
        <h1>New Offer</h1>
      </div>
      <fieldset class="fieldset">
        <label for="description"><span>Description: </span></label>
        <input #descriptionInput="ngModel" ngModel class="field" type="text"
         name="description" placeholder="Two Rooms" required minlength="5">

         <ng-container *ngIf="descriptionInput.touched">
          <p *ngIf=" descriptionInput.errors?.required" class="error">
            Description is required!
          </p>
          <p *ngIf=" descriptionInput.errors?.minlength" class="error">
            Description should be at least 5 characters long!
          </p>
        </ng-container>

        <label for="location"><span>Location: </span></label>
        <input #locationInput="ngModel" ngModel class="field" type="text"
         name="location" placeholder="Sofia" required minlength="2">

         <ng-container *ngIf="locationInput.touched">
          <p *ngIf=" locationInput.errors?.required" class="error">
            Location is required!
          </p>
          <p *ngIf=" locationInput.errors?.minlength" class="error">
            Location should be at least 2 characters long!
          </p>
        </ng-container>

        <label for="price"><span>Price: </span></label>
        <input #priceInput="ngModel" ngModel class="field" type="text"
         name="price" placeholder="100 000$" required pattern="\d*" minlength="3">

         <ng-container *ngIf="priceInput.touched">
          <p *ngIf=" priceInput.errors?.pattern" class="error">
            Price should be a number!
          </p>
          <p *ngIf=" priceInput.errors?.required" class="error">
            Price is required!
          </p>
          <p *ngIf=" priceInput.errors?.minlength" class="error">
            Price should be more than 100$!
          </p>
        </ng-container>

        <label for="imageUrl"><span>ImageUrl: </span></label>
        <input #imageUrlInput="ngModel" ngModel class="field" type="text"
         name="imageUrl" placeholder="ImageUrl"  required >  

        <ng-container *ngIf="imageUrlInput.touched">
          <p *ngIf=" imageUrlInput.errors?.required" class="error">
            ImageUrl is required!
          </p>
          <p *ngIf="imageUrlInput.errors?.pattern" class="error">
            ImageUrl is invalid!
          </p>
        </ng-container>

        <button class="btn">Create</button>
      </fieldset>
    </form>

  </div>
</div>
