<div class="container">
  <div class="create-border">
    <form #form="ngForm" (ngSubmit)="createComment(form)">
      <div class="create-title">
        <h1>New Comment</h1>
      </div>
      <fieldset class="fieldset">
        <label for="comment"><span>Comment: </span></label>
        <textarea #commentInput="ngModel" ngModel class="field" type="text" name="comment" placeholder="Comment..."
          minlength="2" required>
           </textarea>

        <ng-container *ngIf="commentInput.touched">
          <p *ngIf=" commentInput.errors?.required" class="error">
            Comment should be at least 2 characters long!
          </p>
          <p *ngIf=" commentInput.errors?.minlength" class="error">
            Comment should be at least 2 characters long!
          </p>
        </ng-container>

        <button class="btn">Comment</button>

      </fieldset>
    </form>

  </div>
</div>
