/* You can add global styles to this file, and also import other style files */

html {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(243, 243, 225);
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  text-align: center;
}

.hrefBtn {
  padding: 4px 6px;
  cursor: pointer;
  margin: auto;
  border: 0;
  border-bottom-color: currentcolor;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-bottom: 2px solid #999;
  background-color: #2AC831;
  transition: .3s ease;
  text-decoration: none;
  color: white;
  border-radius: 3px;
}

.error {
  color: red;
}
