<h1>Welcome...</h1>
<div class="slider-frame">
  <div class="slide-images">

    <!-- <div class="img-container">
      <img src="../../assets/img1.jpg">
    </div>
    <div class="img-container">
      <img src="../../assets/img2.jpg">
    </div> -->
    <div class="img-container">
      <img class="img"src="../../assets/skycraper.jpeg">
    </div>

  </div>
</div>

<div>
  <h2>Home Sweet Home!</h2>
  <p>
    Are you looking for new home?
  </p>
  <P><a type="button" class="btn" routerLink="/apartments">Catalog</a></P>
</div>
