<div class="img-container">
  <main>
    <div class="apartments-content">
      <div class="aparments-wraper">

        <div class="apartment">

          <img class="img" src="{{apartment!.imageUrl}}">
          <p class="description">{{apartment!.description}}</p>
          <ul class="items">
            <li><span>Location: </span>{{apartment!.location}}</li>
            <li><span>Price: </span>{{apartment!.price}}</li>
          </ul>

          <button routerLink="/apartments" class="btn">Back</button>

          <ng-container *ngIf="isOwner">
            <button routerLink="/apartments/edit/{{apartment!._id}}" class="btn">Edit</button>
            <button routerLink="/apartments/comment/{{apartment!._id}}" class="btn">New Comment</button>

          </ng-container>
          <ng-container *ngIf="!isOwner">
            <button routerLink="/apartments/comment/{{apartment!._id}}" class="btn">New Comment</button>

            <!-- if for rent && not owener -->
            <button class="btn">Rent it</button>

            <!-- if rented == true  -->
            <p>This apartment is already rented!</p>
          </ng-container>

        </div>
        
      </div>
      <app-comments [recentApartment]="apartment" [comments]="recentComments"></app-comments>
    </div>
  </main>

  
</div>

