.img-container {
  min-height: calc(100vh - 108px);
}

.apartment-wraper {
  height: auto;
}

.apartments-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 15px;
  margin-top: 62px;
  padding-right: 15px;
}

.apartment {
  display: inline-block;
  border: 1px solid #1f242866;
  background: white;
  height: auto;
  margin: 20px 170px auto 100px;
  vertical-align: top;
}

.img {
  width: 420px;
  height: 260px;
}

.description{
  margin-top: 10px;
  font-size: 20px;
  border-block: 1px solid #1f242866;
}

.rented {
  background-color: green;
  font-size: 30px;
}

.btn {
  color: #333;
  text-decoration: none;
  padding: 13px;
  margin-left: 10px;
  margin-bottom: 10px;
  transition: .3s ease;
}

.btn:hover {
  background-color: rgb(216, 216, 216);
  border-radius: 30px;
}

.items {
  text-align: left;
}
